.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form{
    display: flex;
    flex-direction: column;

    label{
        font-size: 24px;
    }

    input{
        margin-bottom: 10px;
        width: 526px;
        height: 40px;
        border-radius: 12px;
    }


    button{
        width: 250px;
        height: 40px;
        background-color: #F58B30;
        border-radius: 20px;
    }
}

.contenedor__boton{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}