.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    img{
        width: 80px;
        height: auto;
    }
}

.logo__contenedor{
    display: flex;
}